<div class="flex md:basis-300">
    <div class="rounded-md overflow-hidden text-white bg-black border-0">
      <img class="object-cover" src="https://images.unsplash.com/flagged/photo-1565250264340-8febc46b0c64" alt="cat member">
      <div class="flex-auto p-4">
        <h5 class="text-xl text-orange text-center mb-0"><strong>Member N</strong></h5>
        <p class="text-center text-grey mb-4">Position</p>
        <p class="text-center text-grey mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>