<div class="band-member">
    <div class="card border-0">
      <img src="https://images.unsplash.com/flagged/photo-1565250264340-8febc46b0c64" alt="cat member" class="img-fluid bd-placeholder-img card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center mb-0"><strong>Member N</strong></h5>
        <p class="card-text text-center">Position</p>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>