<!--
  col-12
  col-md-8
  col-md-6
  col-md-2
  navbar
  navbar-nav
  nav-item
  nav-link
  navbar-brand 
  navbar-dark 
  border-top
  h3 
  text-muted
  bg-dark
  mr-l
  ms-3 
  mb-lg-0
  mt-md-3
  pb-md-5
  pt-md-5
-->

<footer class="bg-dark">
    <div class="container flex justify-center items-center pb-md-5 pt-md-5">
        <div class="col-12 col-md-6 mt-5 mt-md-3">
            <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quas. Nihil quibusdam fugiat animi quod a explicabo esse.
            </p>
            <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quas. Nihil quibusdam fugiat animi quod a explicabo esse.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="flex flex-wrap justify-between items-center py-3 mt-4 border-top">
            <div class="navbar navbar-dark col-md-2 flex items-center">
                <a class="navbar-brand" href="index.html">
                    <i class="fa-solid fa-gem mr-l"></i> Tailwind Rock
                </a>
            </div>
            <div class="col-12 col-md-8">
                <ul class="navbar-nav mb-2 mb-lg-0 flex-flex flex-wrap items-center justify-evenly">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://yahoo.es">La Banda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="http://yahoo.es">El Festival</a>
                    </li>         
                    <li class="nav-item">
                        <a class="nav-link" href="tickets.html">Entradas</a>
                    </li>
                  </ul>
            </div>
        
            <ul class="col-md-2 justify-end list-none flex mb-0">
              <li class="ms-3"><a target="_blank" class="h3 text-muted" href="https://facebook.com"><i class="fa-brands fa-facebook mr-l"></i></a></li>
              <li class="ms-3"><a target="_blank" class="h3 text-muted" href="https://instagram.com"><i class="fa-brands fa-instagram mr-l"></i></a></li>
              <li class="ms-3"><a target="_blank" class="h3 text-muted" href="https://tiktok.com"><i class="fa-brands fa-tiktok mr-l"></i></a></li>
            </ul>
        </div>
    </div>    
</footer>