<form class="border-bottom" name="tickets" method="POST" netlify>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input required type="text" class="form-control" id="name" aria-describedby="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">No compartiremos tu email con nadie.</div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Teléfono</label>
      <input required type="text" class="form-control" id="phone" aria-describedby="phone">
      <div id="phoneHelp" class="form-text">Tampoco compartiremos tu teléfono.</div>

    </div>
    <div class="mb-3">
      <label for="town" class="form-label">Población</label>
      <input type="text" class="form-control" id="town" aria-describedby="town">
    </div>
    <div class="row mb-5">
      <div class="col">
        <select class="form-select" aria-label="Tipo de entrada">
          <option selected>Grada</option>
          <option value="Platea">Platea</option>
          <option value="Palco">Palco</option>
          <option value="VIP">Palco VIP</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select" aria-label="entradas">
        <option selected>1 entrada</option>
        <option value="2 entradas">2 entradas</option>
        <option value="3 entradas">3 entradas</option>
        <option value="4 entradas">4 entradas</option>
      </select>
      </div>
    </div>
    <div class="text-center mb-5">
      <button type="submit" class="btn btn-primary btn-lg px-4">Comprar</button>
    </div>
  </form>