<nav class=" bg-black sticky top-0 md:py-6 border-b border-greyDark">
    <div class="container mx-auto flex justify-between">
        <a class="mr-4 text-4/25xl text-grey hover:text-white" href="index.html">
            <i class="fa-regular fa-gem"></i> <span class="font-light">Stoner Rock</span>
        </a>
        <!--RWD-->
      <button class="navbar-toggler lg:hidden">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="hidden lg:flex items-center mb-2 lg:mb-0">
        <ul class="flex grow-0 justify-end">
          <li>
            <a class="p-2 text-grey hover:text-white" target="_blank" href="http://yahoo.es">El Festival</a>
          </li>      
          <li>
            <a class="p-2 text-grey hover:text-white" href="/">La Banda</a>
          </li>
          <li>
            <a class="border-0 rounded-md px-4 py-3 text-white hover:text-black bg-orange hover:bg-orangeActive" href="tickets.html">Compra entradas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>